body {
  background: url('xlg.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width:100%; height:auto; 
  overflow:hidden;
}

canvas {
  display: block;  
}

.h {
  color: #b31a1a; 
  font-family: 'Lato', sans-serif; 
  font-size: 36px; 
  font-weight: 300; 
  line-height: 58px; 
  margin: 0 0 58px; 
}

a {
  color: rgb(77, 120, 175);
}

.outsideWrapper{ 
  width:100%; height:auto; 
  /* width:1337px; height:1080px;  */
  margin:20px 60px; 
  border:1px;}
.insideWrapper{ 
  width:100%; height:100%; 
  position:relative;}
.coveredImage{ 
  width:100%; height:100%; 
  position:absolute; top:0px; left:0px;
}
.coveringCanvas{ 
  width:100%; height:100%; 
  position:absolute; top:0px; left:0px;
  background-color: rgba(255,0,0,.1);
}
